[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
[submodule "themes/themes/port-hugo"]
	path = themes/themes/port-hugo
	url = https://github.com/tylersayshi/port-hugo.git
[submodule "port-hugo"]
	path = port-hugo
	url = https://github.com/tylersayshi/port-hugo.git
[submodule "theme/port-hugo"]
	path = theme/port-hugo
	url = https://github.com/tylersayshi/port-hugo.git
[submodule "themes/port-hugo"]
	path = themes/port-hugo
	url = https://github.com/tylersayshi/port-hugo.git
